

html { 
  scroll-behavior: smooth; 
}



body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  overflow-x: hidden;
  padding-top: 78px;
  color: #5f6061;
}

p { line-height: 2; }
a, button { transition: all 0.3s ease; }
a:hover { text-decoration: none; }
label { margin-bottom: 0; }
input { padding: 13px 20px; }

ul {
  margin: 0;
  padding: 0;
}

.btn {
  font-size: 1.1rem;
  padding: 15px 25px;
  border-radius: 0;
}

.btn-primary {
  background-color: #348adb;
  border: none;
}

.btn-secondary {
	background-color: #1dcccc;
	border: none;
}



/* Page Layout */
.container-fluid { max-width: 1430px; }

.tm-page-cols-container {
  display: flex;
  justify-content: space-between;
}

.tm-page-col-left {
  width: 28.56%;
  max-width: 400px;
}

.tm-page-col-right {
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}

.tm-home-section-2-left { padding-right: 40px; }
.tm-home-section-2-right { padding-left: 40px; }

.tm-pt-4 { padding-top: 40px; }
.tm-pt-5 { padding-top: 45px; }
.tm-pt-7 { padding-top: 55px; }
.tm-pb-6 { padding-bottom: 50px; }
.tm-mb-1 { margin-bottom: 15px; }
.tm-mb-2 { margin-bottom: 20px; }
.tm-mb-3 { margin-bottom: 30px; }
.tm-mb-4 { margin-bottom: 40px; }
.tm-mb-5 { margin-bottom: 45px; }
.tm-mb-6 { margin-bottom: 50px; }

.tm-center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .tm-home-section-2-left {
    padding-right: 15px;
    margin-bottom: 80px;
  }

  .tm-home-section-2-right {
    padding-left: 15px;
  }

  .tm-home-section-2-left,
  .tm-home-section-2-right {
    max-width: 660px;
  }
}

@media (max-width: 991px) {
  .tm-page-col-left {
    width: 100%;
    max-width: 100%;
  }

  .tm-page-col-right { width: 100%; }
}
/* end Page Layout */

/* Colors */

.tm-text-secondary { color: #000104; }
.tm-bg-primary { background-color: black; }
.tm-bg-gradient {
  background: linear-gradient(
    135deg,
    #a0c0c0 0%,
    #669999 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.tm-bg-black-transparent {
  background-color: rgba(15, 29, 32, 0.6);
  color: white;
}

/* end Colors */

.tm-brand-row { padding-bottom: 30px; }

.tm-welcome-row {
  padding-top: 30px;
  padding-bottom: 40px;
}

.tm-brand-name {
  color: #98999a;
  width: 300px;
  height: 100px;
  border: 1px solid #98999a;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 399px) {
  .tm-brand-name {
    font-size: 2em;
    width: 250px;
    margin-right: 10px;
  }
}










/* Navbar */

.tm-nav-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
  width: 101px;
  height: 52px;
  border: 1px solid transparent;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  border: 1px solid #98999a;
  color: #98999a;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #98999a;
}

@media (max-width: 991px) {
  .tm-nav { position: relative; }

  #navbarNav {
    position: absolute;
    top: 52px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    z-index: 1001;
  }

  .tm-navbar {
    background-color: transparent;
    justify-content: flex-end;
    padding-right: 0;
  }

  .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    height: 45px;
    margin: 5px 15px;
  }
}

/* end Navbar */









ul.tm-list-plus li {
  list-style: none;
  margin-bottom: 12px;
}

ul.tm-list-plus li:before {
  content: "+";
  margin-right: 10px;
}









/* Welcome */
.tm-welcome-box {
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-welcome-parallax {
  min-height: 540px;
  background: transparent;
}

.tm-small-parallax {
  min-height: 440px; 
  background: transparent;
}

.tm-welcome-text {
  max-width: 320px;
  width: 100%;
  padding: 15px 25px 15px 15px;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 0;
  text-align: right;
}

@media (max-width: 991px) {
  .tm-welcome-box {
    margin-bottom: 20px;
    height: auto;
    min-height: 250px;
  }

  .tm-page-cols-container { flex-direction: column; }
}








/* About Page */
.tabs { list-style: none; }

.tabs > li > a {
  border: 1px solid #cfd0d1;
  color: #999a9b;
  padding: 20px 25px;
  display: block;
  max-width: 300px;
  margin: 0 auto 30px;
}

.tm-tab-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.tabs > li > a.active .tm-tab-icon,
.tabs > li > a:hover .tm-tab-icon {
  background-color: #669999;
}

.tm-about-person { max-width: 280px; }

.tm-about-social-icon {
  width: 42px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #cfd0d1;
  color: white;
  border-radius: 50%;
  font-size: 1.4rem;
  padding-top: 10px;
  transition: all 0.3s ease;
}

.tm-about-social-link:hover > .tm-about-social-icon {
  background-color: #979899;
}

@media (max-width: 767px) {
  .tm-about-person { margin-bottom: 50px; }
}

.filters-button-group { padding-right: 15px; }







/* Contact */

.tm-contact-container {
	max-width: 375px;
	padding-left: 60px;
	padding-right: 15px;
}

.tm-address-container {	margin-bottom: 95px; }

@media (max-width: 991px) and (min-width: 660px) {
	.tm-contact-container {
		max-width: 100%;
		display: flex;
	}

	.tm-address-container,
	.tm-location-container {
		width: 50%;
	}
}

.tm-form-container {
	padding-left: 90px;
	padding-right: 90px;
}

@media (max-width: 767px) {
  .tm-contact-container { padding-left: 15px; }

  .tm-form-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#tm_contact_form {
	max-width: 524px;
	width: 100%;
	padding:40px;
}
.form-group { margin-bottom: 35px; }
.form-group-2 { margin-bottom: 65px; }

.form-control {
	padding-top: 15px;
	padding-bottom: 15px;
	height: auto;
	color: #669999;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #669999;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #669999;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #669999;
}

.tm-choices-container { display: flex; }
.tm-w-50 { width: 50%; }

@media (max-width: 450px) {
  .tm-choices-container { flex-direction: column; }

  .tm-w-50 {
    width: 100%;
    margin-bottom: 20px;
  }
}

textarea.form-control {
  border-color: #669999; 
  padding: 15px 20px;
}

.file-upload-container {
	display: flex;
	justify-content: space-between;	
}

.btn-outline {
	border: 1px solid #98999A;
	color: #669999;
  cursor: pointer;
	padding: 12px 35px;
	width: 140px;
	margin-left: 20px;
}

#file_name_label { width: calc(100% - 160px); }

@media (max-width: 500px) {
  .file-upload-container { flex-direction: column; }
  #file_name_label { width: 100%; }

  .btn-outline {
    margin-left: 0;
    margin-top: 20px;
  }
}

#file_name_label::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #669999;
  opacity: 1; /* Firefox */
}

#file_name_label:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #669999;
}

#file_name_label::-ms-input-placeholder { /* Microsoft Edge */
  color: #669999;
}

.tm-btn-submit {
	font-size: 1.2rem;
	padding: 12px 40px;
}

/* end Contact */






/* Copyright and Page Footer */

.tm-copyright-text { font-size: 0.7rem; }
.tm-copyright-link { color: #5f6061; }

.tm-page-footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* end Copyright and Page Footer */